* {
    font-family: 'Montserrat';
}
#header {
    background-color: rgb(19, 19, 19);
    
}
#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}
body {
    /*background-color: #161616;*/
    background-size:cover;
    height:100vh;
}

#nav {
    /*background-color: rgb(31, 31, 31);*/
    background-color: rgb(19, 19, 19);
}

.ftInfo {
    background-color:rgb(19, 19, 19);
}

.ftInfo:hover {
    cursor:pointer;
}

.ft {
    margin-left: 10px;
}